{
    "kind": "BuildConfig",
    "apiVersion": "v1",
    "metadata": {
        "name": "s2i-tensorflow-notebook",
        "namespace": "{{ namespace }}",
        "labels": {
            "build": "s2i-tensorflow-notebook"
        }
    },
    "spec": {
        "triggers": [
            {
                "type": "ConfigChange"
            },
            {
                "type": "ImageChange"
            }
        ],
        "source": {
            "type": "Git",
            "git": {
                "uri": "https://github.com/vpavlin/jupyter-notebooks"
            },
            "contextDir": "tensorflow-notebook"
        },
        "strategy": {
            "type": "Source",
            "sourceStrategy": {
                "from": {
                    "kind": "ImageStreamTag",
                    "name": "s2i-minimal-notebook:3.6"
                }
            }
        },
        "output": {
            "to": {
                "kind": "ImageStreamTag",
                "name": "s2i-tensorflow-notebook:3.6"
            }
        },
        "resources": {
            "limits": {
                "memory": "512Mi"
            }
        }
    }
}

