{
    "kind": "RoleBinding",
    "apiVersion": "authorization.openshift.io/v1",
    "metadata": {
        "name": "jupyterhub-edit",
        "namespace": "{{ namespace }}",
        "labels": {
            "app": "jupyterhub"
        }
    },
    "subjects": [
        {
            "kind": "ServiceAccount",
            "name": "jupyterhub-hub"
        }
    ],
    "roleRef": {
        "name": "edit"
    }
}
