{
    "kind": "Route",
    "apiVersion": "v1",
    "metadata": {
        "annotations": {
            "kubernetes.io/tls-acme": "true"
        },
        "name": "jupyterhub",
        "namespace": "{{ namespace }}",
        "labels": {
            "app": "jupyterhub"
        }
    },
    "spec": {
        "host": "",
        "to": {
            "kind": "Service",
            "name": "jupyterhub",
            "weight": 100
        },
        "port": {
            "targetPort": "8080-tcp"
        },
        "tls": {
            "termination": "edge",
            "insecureEdgeTerminationPolicy": "Redirect"
        }
    }
}
