{
    "kind": "ServiceAccount",
    "apiVersion": "v1",
    "metadata": {
        "name": "jupyterhub-hub",
        "namespace": "{{ namespace }}",
        "labels": {
            "app": "jupyterhub"
        },
        "annotations": {
            "serviceaccounts.openshift.io/oauth-redirectreference.first": "{\"kind\":\"OAuthRedirectReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"Route\",\"name\":\"jupyterhub\"}}",
            "serviceaccounts.openshift.io/oauth-redirecturi.first": "hub/oauth_callback",
            "serviceaccounts.openshift.io/oauth-want-challenges": "false"
        }
    }
}
